*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
cdk.context.json
.cdk.staging
cdk.out
dist

!typings/**/*.d.ts
!utils/**/*.js

.DS_Store

.eslintcache

!.*.js
coverage/**
test-report.xml
