//registry.npmjs.org
# alma's github packages
@almamedia:registry=https://npm.pkg.github.com
# doesnt make sense, but authToken wont work in GHP if its not defined in own row
//npm.pkg.github.com/:_authToken=${GITHUB_ACCESS_TOKEN}

engine-strict=true
